
*

!.gitignore

!README.md

!config/
!defaultconfigs/
!fancymenu_data/
!mods/
!natives/
!resourcepacks/
!shaderpacks/
!options.txt
!patchouli_data.json
!TLauncherAdditional.json
!WORMCRAFT.jar
!WORMCRAFT.json

!config/**
!defaultconfigs/**
!fancymenu_data/**
!mods/**
!resourcepacks/**
!shaderpacks/**